#expression-text {
  display: none;
  flex-grow: 1;
}

#math-field,#math-field-static {
  border: none;
  border-radius: 5px;
  flex-grow: 0;
  padding: 4px 5px 2px 2px;
  /*margin: 4px 4px 4px 0px;*/
  margin: 0;
  background: #fff;
}

#math-field[valid=false] {
  border: 1px solid red;
}

#expression-envelope[disabled=true] > #math-field,#expression-envelope[disabled=false] > #math-field-static {
 position: fixed;
 top: -100vh; 
}

#math-field-static {
  background: #ddd;
}

#expression-envelope[disabled=true] {
  background: #ddd;
}

#expression-envelope[disabled=false] {
  background: #fff;
}

#run-button {
  position: fixed;
  right: 10vw;
  bottom: 10vw;

  border-radius: 5px;
  padding: 2px 6px;
}

#stop-button {
  
}

#run-button:not(:hover) {
  background: #4f6;
}

#stop-button:not(:hover) {
  background: #f46;
}

#restart-button:not(:hover) {
  background: #68f;
}

#restart-button {
  width: 30px;
  
  padding: 0;
  border-radius: 5px;
  
  position: fixed;
  right: 10vw;
  top: 10vw;

  z-index: 2;
}

#restart-button > .string {
  font-size: 24px;
  line-height: 14px;
  padding-bottom: 4px;
}