.layer {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
}

.layer > * {
  pointer-events: all;
}

.bar {
  position: absolute;

  margin: 0;
  padding: 4px;
  
  background: #eee;
  
  border-radius: 5px;
  
  overflow: hidden;
  
  display: flex;
  align-items: stretch;
  justify-content: center;
  
  transition: 0.2s;
}

.bar.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.bar.left {
  left: 0;
  bottom: 0;
  top: 0;

  flex-direction: column;
}

.bar.right {
  right: 0;
  bottom: 0;
  top: 0;

  flex-direction: column;
}

.bar.top {
  top: 0;
  left: 0;
  right: 0;
}

.bar.detached {
  background: transparent;

  margin: 20px;
  padding: 0;

  border-radius: 0;
  overflow: visible;

  pointer-events: none;
}

.bar.detached > * {
  pointer-events: all;
}

.bar.floating {
  background: transparent;

  margin: 20px;
  padding: 0;

  border-radius: 0;
  overflow: visible;

  pointer-events: none;
}

.bar.floating > * {
  pointer-events: all;
}

.bar.floating > .button, .bar.floating > .envelope {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.bar > .envelope {
  display: flex;
  border-radius: 5px;
}

.bar,#ui > *[hide=true] {
  display: none;
}

.button {
  min-width: 14px;
  min-height: 30px;
  
  padding: 0 8px;
  
  background: #fff;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  pointer-events: all;
  transition: 0.2s;
}

.bar.floating > * {
  border-radius: 5px;
}

.button:hover {
  background: #222;
  color: #fff;
}

.string {
  user-select: none;
  pointer-events: none;
}

.label {
  min-width: 30px;
  min-height: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.veil {
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  opacity: 1;
  
  background: white;
  pointer-events: all;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /*text-align: center;*/
}

.veil[hide=true] {
  opacity: 0;
  pointer-events: none;
}